/**/
body {
    overflow-y: scroll;
    background: #607D8B;
    margin: 0;
    font-family: Comic-Sans,sans-serif;
    font-size: 16px;
    min-width: 1000px;
}
a {
    color: #9E9E9E;
    text-decoration: none;
}
.search_bar {
    border: 1px solid #03A9F4;
    padding: 3px 4px;
    width: 275px;
    border-radius: 3px;
    outline: 0;
}
